<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="es">
    <head>
        <title>Libreria Egg - admin</title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" href="../static/css/styles.css" type="text/css" th:ref="@{/css/styles.css}"/>  
    </head>
    <body>
        <div>
            <a href="/editoriales">Editoriales</a>
            <a href="/clientes">Clientes</a>
            <a href="/libros">Libros</a>
            <a href="/autores">Autores</a>
            <a href="/prestamos">Préstamos</a>
        </div>
    </body>
</html>
