<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="es">
    <head>
        <title>TODO supply a title</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link rel="stylesheet" type="text/css" media ="all" href="../static/css/styles.css"  th:ref="@{/css/styles.css}"/>  
    </head>
    <body>
        <div>
            <a href="/logout">Logout</a>
            <a href="/devoluciones">Devolver</a>
            <a href="/prestamo">Tomar Prestado</a>
            <a href="/misprestamos">Mis Préstamos</a>
        </div>
        <div>
            <p th:if="${session.clientesession!=null}" th:text="@{session.clientesession.nombre + ' ' + session.clientesession.apellido}">
        </div>
    </body>
</html>
