<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="es">
    <head>
        <title>Libreria Egg - Libros</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header>
            <h1>Libros</h1>
        </header>
        <nav>
            <div>
                <h2>Alta</h2>
                <form action="/alta_libro" method="POST">
                    <p th:if="${erroralta!=null}" th:text="${erroralta}" style="color:red"></p>
                    <label>Nombre</label>
                    <input type="text" name="nombre">
                    <label>Autor</label>
                    <select multiple="2" name="autores">
                        <option th:each="autor :${autores}" th:value="${autor.id}" th:text="${autor.nombre}"></option>
                    </select>
                    <label>Editoriales</label>
                    <select multiple="3" name="editoriales">
                        <option th:each="editorial : ${editoriales}" th:value="${editorial.id}" th:text="${editorial.nombre}"></option>
                    </select>
                    <label>Año</label>
                    <input type="number" name="year">
                    <label>Ejemplares disponibles</label>
                    <input type="number" name="disponibles">    
                    <label>Ejemplares prestados</label>
                    <input type="number" name="prestados">
                    <button type="submit">¡Listo!</button>
                </form>
            </div>
            <div>
                <h2>Consulta</h2>
                    <select>
                        <option th:each="libro : ${libros}" th:value="${libro.id}"> 
                            <span>Título: </span>
                                <span th:text="${libro.title}"></span>
                            <span>Año: </span>    
                                <span th:text="${libro.year}"></span>
                            <span>Disponibles: </span>    
                                <span th:text="${libro.available}"></span>
                            <span>Prestados: </span>    
                                <span th:text="${libro.borrowed}"></span>
                            <span>Autor/es: </span>    
                                <span th:each="autor :${libro.autores}">
                                    <span th:text="${autor.nombre}"></span>
                            </span>
                            <span>Editorial/es </span>
                                <span th:each="editorial :${libro.editoriales}">
                                    <span th:text="${editorial.nombre}"></span>
                                
                            </span>    
                        </option>
                     <!--   <p th:each="autor : ${libros.autores}" th:text="${autor.nombre}"></p>
                        <p th:each="editorial : ${libros.editoriales}" th:text="${editorial.nombre}"></p> -->
                    </select>
      </table>
            </div>
            <div>
                <h2>Modificar</h2>
              <!--  <form action="/modificar_libro" method="POST">
                <label>Nombre Viejo</label>
                <select name="nombreviejo">
                    <option th:each="editorial : ${editoriales}" th:value="${editorial.id}" th:text="${editorial.nombre}"></option>
                </select>
                <label>Nombre Nuevo</label>
                <input type="text" name="nombrenuevo"/>
                <button type="submit">¡Listo!</button>
                </form> -->
            </div>
            <div>
                <h2>Baja</h2>
                <form action="/baja_libro" method="POST">
                    <label>Libro</label>
                    <select name="id">
                        <option th:each="libro : ${libros}" th:value="${libro.id}">
                            <span>Título: </span>
                                <span th:text="${libro.title}"></span>
                            <span>Año: </span>    
                                <span th:text="${libro.year}"></span>
                            <span>Disponibles: </span>    
                                <span th:text="${libro.available}"></span>
                            <span>Prestados: </span>    
                                <span th:text="${libro.borrowed}"></span>
                            <span>Autor/es: </span>    
                                <span th:each="autor :${libro.autores}">
                                    <span th:text="${autor.nombre}"></span>
                            </span>
                            <span>Editorial/es </span>
                                <span th:each="editorial :${libro.editoriales}">
                                    <span th:text="${editorial.nombre}"></span>
                                
                            </span>  
                        </option>
                    </select>
                <button type="submit">¡Listo!</button>
                </form>
            </div>
        </nav>
        <footer>
            <a href="/logout">Logout</a>
            <a href="/autores">Autores</a>
            <a href="/clientes">Clientes</a>
            <a href="/prestamos">Prestamos</a>
            <a href="/editoriales">Editoriales</a>
        </footer>
    </body>
</html>
