<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Libreria Egg</title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" href="/css/styles.css"/>  
    </head>
    <body>
        <header>
            <h1>Librería Egg</h1>
            <h3>Tu librería digital</h3>
        </header>
        <nav>
        <div class="form">
            <h2>Logueate</h2>
            <form action="/logincheck" method="POST" >
                <p th:if="${error!=null}" th:text="${error}" style="color:red"></p>
                <p th:if="${logout!=null}" th:text="${logout}" style="color:green"></p>
                <label>Usuario</label>
                <input type="text" class="form-control" name="username" th:value="${username}"/>
                <label>Contraseña</label> 
                <input type="password" class="form-control" name="password" th:value="${password}"/>
                <button type="submit" class="btn-btn-primary">¡Listo!</button>
            </form>
        </div>
        </nav>
        <footer> 
            <a href="/registro">Registro</a> 
            <a href="/">Inicio</a>
        </footer>
    </body>
</html>
