<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Libreria Egg</title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" type="text/css" media="all" href="../static/css/styles.css"  th:ref="@{/css/styles.css}"/>  
    </head>
    <body>
        <div class="form">
            <h2>Logueate</h2>
            <form action="/logincheck" method="POST" >
                <p th:if="${error!=null}" th:text="${error}" style="color:red"></p>
                <p th:if="${logout!=null}" th:text="${logout}" style="color:green"></p>
                <label>Usuario</label>
                <input type="text" class="form-control" name="username" th:value="${username}"/>
                <label>Contraseña</label> 
                <input type="password" class="form-control" name="password" th:value="${password}"/>
                <button type="submit" class="btn-btn-primary">"¡Listo!"</button>
            </form>
        </div>
        
    </body>
</html>
