<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Libreria Egg</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <div>
            <h2>Logueate</h2>
            <form action="/logincheck" method="POST">
                <p th:if="${error !=null}" th:text="${error}" style=color:red></p>
                <label>Apellido</label>
                <input type="text" name="apellido"/>
                <label>DNI</label> 
                <input type="text" name="DNI"/>
                <button type="submit" class="btn-btn-primary">"¡Listo!"</button>
            </form>
        </div>
        
    </body>
</html>
