<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="es">
    <head>
        <title>Libreria Egg - Registro</title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" href="/css/styles.css"/>     
    </head>
    <body>
         <header>
            <h1>Librería Egg</h1>
            <h3>Tu librería digital</h3>
        </header>
        <nav>
        <div>
        <section class="form">
            <h2>¡Registrate!</h2>
            <form action="/registrar" method="POST">
                <p th:if="${error !=null}"></p>
                <label>DNI</label>
                <input type="number" class="form-control" name="DNI"/>
                <label>Nombre</label>
                <input type="text" class="form-control" name="nombre"/>
                <label>Apellido</label>
                <input type="text" class="form-control" name="apellido"/>
                <label>Domicilio</label>
                <input type="text" class="form-control" name="domicilio"/>
                <label>Teléfono</label>
                <input type="text" class="form-control" name="telefono"/>
                <label>Usuario</label>
                <input type="text" class="form-control" name="username"/>
                <label>Contraseña</label>
                <input type="password" class="form-control" name="password"/>
                <button type="submit">¡Listo!</button>
            </form>
        </section>
        </div>
        </nav>
        <footer> 
            <a href="/login">Login</a> 
            <a href="/">Inicio</a>
        </footer>
    </body>
</html>
